@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2? family= Cedarville+Cursive & family= Lato & display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

header, header nav div div ul, .pie {
  background-image: linear-gradient(30deg, #3C7566 12%, transparent 12.5%, transparent 87%, #3C7566 87.5%, #3C7566), linear-gradient(150deg, #3C7566 12%, transparent 12.5%, transparent 87%, #3C7566 87.5%, #3C7566), linear-gradient(30deg, #3C7566 12%, transparent 12.5%, transparent 87%, #3C7566 87.5%, #3C7566), linear-gradient(150deg, #3C7566 12%, transparent 12.5%, transparent 87%, #3C7566 87.5%, #3C7566), linear-gradient(60deg, #3C756677 25%, transparent 25.5%, transparent 75%, #3C756677 75%, #3C756677), linear-gradient(60deg, #3C756677 25%, transparent 25.5%, transparent 75%, #3C756677 75%, #3C756677);
  background-size: 40px 70px;
  background-position: 0 0, 0 0, 20px 35px, 20px 35px, 0 0, 20px 35px; }

.buscadorIndex .hero h1, .buscadorIndex .hero h2, .buscadorIndex .hero p {
  padding: 10px 5px;
  margin: 5px;
  backdrop-filter: blur(2px); }

.buscadorIndex section .gridContenedorFormulario .buscador, .buscadorIndex section .gridContenedorFormulario .select, .mainIngreso .ingreso .ingresoNuevo h2, .mainIngreso .ingreso section h2 {
  margin: 5px;
  padding: 5px;
  border: none; }

.buscadorIndex section .gridContenedorFormulario .select .selectInput, .buscadorIndex section .gridContenedorFormulario .monto .divMonto .selectInput, .gridContenedorInmuebles .buscadorCompleto .formulario .montoInmuebles div .selectInput, .gridContenedorInmuebles .selector .selectSelector, .gridContenedorInmobiliarias section .buscadorInmobiliarias label .selectInput, .gridContenedorInmobiliarias section .selectorUno label .selectInput, .gridContenedorContacto .contacto form label .input {
  padding: 5px;
  margin: 5px;
  border-radius: 8px; }

.gridContenedorInmuebles .buscadorCompleto .formulario .radioInmuebles, .gridContenedorInmuebles .buscadorCompleto .formulario .selectInmuebles, .gridContenedorInmuebles .buscadorCompleto .formulario .montoInmuebles, .mainIngreso .ingreso .ingresoNuevo .formularioIngreso .datos label {
  margin: 2px;
  padding: 2px;
  border: none; }

.gridContenedorInmuebles .resultadoUno, .resultadoDos, .resultadoTres, .gridContenedorInmobiliarias section .inmobiliariaUno, .gridContenedorInmobiliarias section .inmobiliariaDos, .gridContenedorInmobiliarias section .inmobiliariaTres {
  border-radius: 3%;
  margin: 20px;
  box-shadow: 4px 9px 24px 4px rgba(60, 117, 102, 0.73);
  -webkit-box-shadow: 4px 9px 24px 4px rgba(60, 117, 102, 0.73);
  -moz-box-shadow: 4px 9px 24px 4px rgba(60, 117, 102, 0.73); }

/* selectores para todo el sitio*/
.body {
  background-color: #C29689;
  min-height: 100vh; }

/*HEADER*/
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  opacity: 0.9;
  background-color: #C29689; }
  header div a img {
    width: 80px;
    height: 80px;
    margin: 5px; }
  header nav div div ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #C29689;
    padding: 0;
    margin: 0; }
    header nav div div ul li {
      list-style-type: none; }
      header nav div div ul li a {
        text-decoration: none;
        color: black;
        font-family: "Lato", sans-serif;
        font-weight: bold;
        font-size: 20px;
        padding: 5px;
        margin: 5px; }
        header nav div div ul li a:hover {
          color: #C25B3E;
          transition: 2s; }
      header nav div div ul li .boton {
        color: white;
        background-color: black;
        padding: 10px;
        border-radius: 5%;
        margin-right: 10px; }
        header nav div div ul li .boton:hover {
          color: black;
          background-color: white;
          transition: 2s; }

/* MAIN*/
.main {
  min-height: 75vh; }

/* selectores del index*/
.buscadorIndex {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column; }
  .buscadorIndex .hero {
    background-image: url("../img/background.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    height: 70vh;
    width: 100%; }
    .buscadorIndex .hero h1 {
      font-family: "Lato", sans-serif;
      font-weight: bold;
      font-size: 40px;
      color: black; }
      .buscadorIndex .hero h1::first-letter {
        font-family: "Cedarville Cursive", cursiva; }
    .buscadorIndex .hero h2 {
      font-family: "Lato", sans-serif;
      font-weight: bold;
      font-size: 30px;
      color: black; }
    .buscadorIndex .hero p {
      font-family: "Lato", sans-serif;
      font-weight: bold;
      font-size: 15px;
      color: black;
      width: 40vw; }
  .buscadorIndex section .gridContenedorFormulario {
    display: grid;
    grid-template-areas: "buscador buscador" "select select" "monto monto" "input input";
    grid-template-columns: auto;
    grid-template-rows: 0.6fr 1.5fr 1.5fr 0.6fr;
    grid-row-gap: 5px;
    border: #3C7566 solid 2px;
    margin: 10px;
    margin-top: 20px;
    border-radius: 3%;
    padding: 10px;
    padding-top: 20px;
    background-color: #C25B3E;
    opacity: 0.8; }
    .buscadorIndex section .gridContenedorFormulario .buscador {
      grid-area: buscador;
      display: flex;
      justify-content: space-around;
      align-items: center;
      flex-direction: row;
      margin-top: 10px;
      padding-top: 10px;
      font-family: "Lato", sans-serif;
      font-weight: bold;
      font-size: 20px;
      min-height: 20%; }
    .buscadorIndex section .gridContenedorFormulario .select {
      grid-area: select;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      flex-direction: column;
      font-family: "Lato", sans-serif;
      font-weight: bold;
      font-size: 20px;
      min-height: 20%; }
      .buscadorIndex section .gridContenedorFormulario .select .provincia {
        margin: 5px;
        padding: 5px;
        text-align: center; }
      .buscadorIndex section .gridContenedorFormulario .select .selectInput {
        width: 30%;
        height: 40px;
        font-family: "Lato", sans-serif;
        font-weight: lighter;
        font-size: 20px; }
    .buscadorIndex section .gridContenedorFormulario .monto {
      grid-area: monto;
      display: flex;
      justify-content: center;
      align-items: flex-start;
      justify-self: center;
      margin: 2px;
      margin-left: 50px;
      padding: 2px;
      border: none;
      font-family: "Lato", sans-serif;
      font-weight: bold;
      font-size: 20px;
      min-height: 20%; }
      .buscadorIndex section .gridContenedorFormulario .monto .divMonto .selectInput {
        width: 60%;
        height: 30px; }
    .buscadorIndex section .gridContenedorFormulario .input {
      grid-area: input;
      display: flex;
      justify-content: center;
      align-items: center; }
      .buscadorIndex section .gridContenedorFormulario .input .botonIndex {
        color: white;
        background-color: black;
        padding: 10px;
        border-radius: 5%;
        font-size: 20px;
        margin: 10px; }
        .buscadorIndex section .gridContenedorFormulario .input .botonIndex:hover {
          background-color: #C25B3E;
          transition: 2s; }

/*selectores de pagina inmuebles*/
.gridContenedorInmuebles {
  display: grid;
  grid-template-areas: "buscadorCompleto selector" "buscadorCompleto resultadoUno" "buscadorCompleto resultadoDos" "buscadorCompleto resultadoTres";
  grid-template-columns: 1fr 2fr;
  grid-template-rows: auto;
  column-gap: 5px;
  margin: 20px;
  margin-left: 50px;
  justify-items: center;
  align-items: flex-start; }
  .gridContenedorInmuebles .buscadorCompleto {
    grid-area: buscadorCompleto;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center; }
    .gridContenedorInmuebles .buscadorCompleto .formulario {
      width: 100%;
      height: 100%;
      border: #3C7566 solid 2px;
      margin: 10px;
      border-radius: 3%;
      padding: 10px;
      padding-top: 20px;
      background-color: #C25B3E;
      opacity: 0.8;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column; }
      .gridContenedorInmuebles .buscadorCompleto .formulario .radioInmuebles {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: row;
        font-family: "Lato", sans-serif;
        font-weight: bold;
        font-size: 20px;
        min-height: 20%; }
        .gridContenedorInmuebles .buscadorCompleto .formulario .radioInmuebles label {
          display: flex;
          justify-content: space-around;
          align-items: center;
          margin: 5px;
          padding: 5px; }
          .gridContenedorInmuebles .buscadorCompleto .formulario .radioInmuebles label input {
            margin: 5px; }
      .gridContenedorInmuebles .buscadorCompleto .formulario .selectInmuebles {
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-direction: column;
        font-family: "Lato", sans-serif;
        font-weight: bold;
        font-size: 20px;
        min-height: 15%; }
        .gridContenedorInmuebles .buscadorCompleto .formulario .selectInmuebles .selectInput {
          width: 150px;
          height: 30px;
          padding: 5px;
          margin: 5px;
          border-radius: 8px;
          font-family: "Lato", sans-serif;
          font-weight: lighter;
          font-size: 15px; }
      .gridContenedorInmuebles .buscadorCompleto .formulario .montoInmuebles {
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-direction: row;
        margin-left: 20px;
        font-family: "Lato", sans-serif;
        font-weight: bold;
        font-size: 20px;
        min-height: 20%; }
        .gridContenedorInmuebles .buscadorCompleto .formulario .montoInmuebles div .selectInput {
          width: 150px;
          height: 30px;
          font-family: "Lato", sans-serif;
          font-weight: lighter;
          font-size: 15px; }
      .gridContenedorInmuebles .buscadorCompleto .formulario .checkbox {
        display: flex;
        align-items: flex-start;
        font-family: "Lato", sans-serif;
        font-weight: bold;
        font-size: 20px;
        margin: 5px;
        padding: 10px; }
        .gridContenedorInmuebles .buscadorCompleto .formulario .checkbox p label input {
          margin: 5px; }
      .gridContenedorInmuebles .buscadorCompleto .formulario .botonBuscador {
        color: white;
        background-color: black;
        padding: 10px;
        border-radius: 5%;
        align-self: center; }
  .gridContenedorInmuebles .selector {
    grid-area: selector;
    font-family: "Lato", sans-serif;
    font-weight: bold;
    font-size: 20px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin: 20px; }
    .gridContenedorInmuebles .selector .selectSelector {
      width: 150px;
      height: 30px;
      font-family: "Lato", sans-serif;
      font-weight: lighter;
      font-size: 15px; }
  .gridContenedorInmuebles .resultadoUno {
    grid-area: resultadoUno;
    display: flex;
    border: #3C7566 solid 2px; }
  .gridContenedorInmuebles img {
    width: 400px;
    height: 300px;
    border-radius: 3%;
    transition: transform 2s; }
    .gridContenedorInmuebles img:hover {
      transform: scale(1.2); }
  .gridContenedorInmuebles .txtInput {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    font-family: "Lato", sans-serif;
    font-weight: bold;
    font-size: 20px;
    margin-left: 5px; }
    .gridContenedorInmuebles .txtInput p {
      margin: 4px; }
    .gridContenedorInmuebles .txtInput .botonResultado {
      color: white;
      background-color: black;
      padding: 10px;
      border-radius: 5%;
      align-self: center;
      margin: 10px; }

.resultadoDos {
  grid-area: resultadoDos;
  display: flex;
  border: #3C7566 solid 2px; }
  .resultadoDos img {
    width: 400px;
    height: 300px;
    border-radius: 3%;
    transition: transform 2s; }
    .resultadoDos img:hover {
      transform: scale(1.2); }
  .resultadoDos .txtInput {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    font-family: "Lato", sans-serif;
    font-weight: bold;
    font-size: 20px;
    margin-left: 5px; }
    .resultadoDos .txtInput p {
      margin: 4px; }
    .resultadoDos .txtInput .botonResultado {
      color: white;
      background-color: black;
      padding: 10px;
      border-radius: 5%;
      align-self: center;
      margin: 10px; }

.resultadoTres {
  grid-area: resultadoTres;
  display: flex;
  border: #3C7566 solid 2px; }
  .resultadoTres img {
    width: 200px;
    height: 300px;
    border-radius: 3%;
    transition: transform 2s; }
    .resultadoTres img:hover {
      transform: scale(1.2); }
  .resultadoTres .txtInput {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    font-family: "Lato", sans-serif;
    font-weight: bold;
    font-size: 20px;
    margin-left: 5px; }
    .resultadoTres .txtInput p {
      margin: 4px; }
    .resultadoTres .txtInput .botonResultado {
      color: white;
      background-color: black;
      padding: 10px;
      border-radius: 5%;
      align-self: center;
      margin: 10px; }

/*selectores de pagina inmobiliarias*/
.gridContenedorInmobiliarias {
  display: grid;
  grid-template-areas: "buscadorInmobiliarias selectorUno" "buscadorInmobiliarias inmobiliariaUno" "buscadorInmobiliarias inmobiliariaDos" "buscadorInmobiliarias inmobiliariaTres";
  grid-template-columns: 0.6fr 2fr;
  grid-template-rows: auto;
  column-gap: 5px;
  margin: 20px;
  margin-left: 50px;
  justify-items: center;
  align-items: flex-start; }
  .gridContenedorInmobiliarias section .buscadorInmobiliarias {
    grid-area: buscadorInmobiliarias;
    width: 20vw;
    height: 40vh;
    border: #3C7566 solid 2px;
    margin: 10px;
    border-radius: 3%;
    padding: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    background-color: #C25B3E;
    opacity: 0.8;
    color: black; }
    .gridContenedorInmobiliarias section .buscadorInmobiliarias label .selectInput {
      width: 150px;
      height: 30px;
      font-family: "Lato", sans-serif;
      font-weight: lighter;
      font-size: 15px; }
    .gridContenedorInmobiliarias section .buscadorInmobiliarias .botonInmobiliarias {
      color: white;
      background-color: black;
      padding: 10px;
      border-radius: 5%;
      font-size: 20px;
      font-family: "Lato", sans-serif;
      margin: 10px; }
  .gridContenedorInmobiliarias section .selectorUno {
    grid-area: selectorUno;
    display: flex;
    justify-content: flex-end;
    font-family: "Lato", sans-serif;
    font-weight: bold;
    font-size: 20px;
    margin-right: 20px; }
    .gridContenedorInmobiliarias section .selectorUno label .selectInput {
      width: 150px;
      height: 30px;
      font-family: "Lato", sans-serif;
      font-weight: lighter;
      font-size: 15px; }
  .gridContenedorInmobiliarias section .inmobiliariaUno {
    grid-area: inmobiliariaUno;
    display: flex;
    border: #3C7566 solid 2px; }
    .gridContenedorInmobiliarias section .inmobiliariaUno .logo {
      width: 250px;
      height: 250px;
      border-radius: 3%; }
    .gridContenedorInmobiliarias section .inmobiliariaUno div {
      display: flex;
      justify-content: center;
      align-items: flex-start;
      flex-direction: column; }
      .gridContenedorInmobiliarias section .inmobiliariaUno div p {
        font-family: "Lato", sans-serif;
        font-weight: bold;
        font-size: 20px;
        margin: 5px;
        padding: 10px; }
      .gridContenedorInmobiliarias section .inmobiliariaUno div .botonInmobiliarias {
        color: white;
        background-color: black;
        padding: 10px;
        border-radius: 5%;
        font-size: 20px;
        font-family: "Lato", sans-serif;
        margin-left: 20px;
        align-self: center; }
  .gridContenedorInmobiliarias section .inmobiliariaDos {
    grid-area: inmobiliariaDos;
    display: flex;
    border: #3C7566 solid 2px; }
    .gridContenedorInmobiliarias section .inmobiliariaDos .logo {
      width: 250px;
      height: 250px;
      border-radius: 3%; }
    .gridContenedorInmobiliarias section .inmobiliariaDos div {
      display: flex;
      justify-content: center;
      align-items: flex-start;
      flex-direction: column; }
      .gridContenedorInmobiliarias section .inmobiliariaDos div p {
        font-family: "Lato", sans-serif;
        font-weight: bold;
        font-size: 20px;
        margin: 5px;
        padding: 10px; }
      .gridContenedorInmobiliarias section .inmobiliariaDos div .botonInmobiliarias {
        color: white;
        background-color: black;
        padding: 10px;
        border-radius: 5%;
        font-size: 20px;
        font-family: "Lato", sans-serif;
        margin-left: 20px;
        align-self: center; }
  .gridContenedorInmobiliarias section .inmobiliariaTres {
    grid-area: inmobiliariaTres;
    display: flex;
    border: #3C7566 solid 2px; }
    .gridContenedorInmobiliarias section .inmobiliariaTres .logo {
      width: 250px;
      height: 250px;
      border-radius: 3%; }
    .gridContenedorInmobiliarias section .inmobiliariaTres div {
      display: flex;
      justify-content: center;
      align-items: flex-start;
      flex-direction: column; }
      .gridContenedorInmobiliarias section .inmobiliariaTres div p {
        font-family: "Lato", sans-serif;
        font-weight: bold;
        font-size: 20px;
        margin: 5px;
        padding: 10px; }
      .gridContenedorInmobiliarias section .inmobiliariaTres div .botonInmobiliarias {
        color: white;
        background-color: black;
        padding: 10px;
        border-radius: 5%;
        font-size: 20px;
        font-family: "Lato", sans-serif;
        margin-left: 20px;
        align-self: center; }

/* selectores principalmente de contacto*/
.gridContenedorContacto {
  display: grid;
  grid-template-areas: "promocion contacto" "promocion contacto" "mapa contacto";
  grid-template-columns: 0.6fr 1.5fr;
  grid-template-rows: auto-fill;
  column-gap: 5px;
  margin: 20px;
  margin-left: 50px;
  justify-items: center;
  align-items: flex-start; }
  .gridContenedorContacto .promocion {
    grid-area: promocion;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 10px;
    margin: 10px;
    margin-top: 0;
    width: 83%;
    height: 400px;
    border: #3C7566 solid 2px;
    border-radius: 3%; }
    .gridContenedorContacto .promocion img {
      width: 100px;
      height: 100px;
      padding: 10px;
      margin: 5px; }
    .gridContenedorContacto .promocion h2 {
      font-family: "Cedarville Cursive", cursiva;
      font-weight: bold;
      font-size: 25px;
      padding: 10px 5px;
      margin: 5px;
      width: 250px;
      height: 80px;
      text-align: center; }
    .gridContenedorContacto .promocion h3 {
      font-family: "Lato", sans-serif;
      font-weight: bolder;
      font-size: 20px;
      padding: 10px 5px;
      margin: 5px;
      text-align: center; }
    .gridContenedorContacto .promocion a .botonPromocion {
      color: white;
      background-color: black;
      padding: 10px;
      border-radius: 5%; }
  .gridContenedorContacto .mapa {
    grid-area: mapa;
    border: #3C7566 solid 2px;
    width: 83%;
    height: 204px; }
    .gridContenedorContacto .mapa iframe {
      width: 100%;
      height: 200px; }
  .gridContenedorContacto .contacto {
    grid-area: contacto;
    width: 80%;
    height: 100%;
    font-family: "Lato", sans-serif;
    font-weight: bold;
    font-size: 20px; }
    .gridContenedorContacto .contacto form {
      width: 100%;
      height: 100%;
      margin: 2px;
      padding: 5px;
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      flex-direction: column;
      border: #3C7566 solid 2px;
      border-radius: 3%; }
      .gridContenedorContacto .contacto form label {
        width: 100%; }
        .gridContenedorContacto .contacto form label::first-letter {
          font-family: "Cedarville Cursive", cursiva;
          font-size: 25px; }
        .gridContenedorContacto .contacto form label .input {
          width: 80%;
          height: 30px;
          display: flex;
          justify-content: center;
          align-items: flex-start;
          flex-direction: column;
          background-color: #3C7566; }
          .gridContenedorContacto .contacto form label .input:focus {
            background-color: white;
            transition: background-color 2s linear 1s; }
        .gridContenedorContacto .contacto form label .textarea {
          resize: none;
          height: 18vh; }
      .gridContenedorContacto .contacto form .botonContacto {
        color: white;
        background-color: black;
        padding: 10px;
        border-radius: 5%;
        align-self: flex-end;
        margin: 10px; }

/*selectores de la pagina de ingreso*/
.mainIngreso {
  display: flex;
  justify-content: center;
  align-items: center; }
  .mainIngreso .ingreso {
    border: #3C7566 solid 2px;
    margin: 5px;
    border-radius: 3%;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #C25B3E;
    opacity: 0.8;
    color: black;
    height: 90vh;
    width: 40vw; }
    .mainIngreso .ingreso .ingresoNuevo {
      display: flex;
      justify-content: center;
      align-items: flex-end;
      flex-direction: column;
      height: 100%; }
      .mainIngreso .ingreso .ingresoNuevo h2 {
        font-size: 25px;
        padding-top: 20px;
        margin-top: 20px;
        width: 100%;
        height: 70px;
        text-align: center;
        font-weight: bold; }
      .mainIngreso .ingreso .ingresoNuevo .formularioIngreso {
        height: 100%;
        width: 100%;
        border: none;
        display: flex;
        flex-direction: column; }
        .mainIngreso .ingreso .ingresoNuevo .formularioIngreso .datos {
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;
          max-height: 25%; }
          .mainIngreso .ingreso .ingresoNuevo .formularioIngreso .datos label {
            font-family: "Lato", sans-serif;
            font-weight: bold;
            font-size: 18px; }
          .mainIngreso .ingreso .ingresoNuevo .formularioIngreso .datos .selectInput {
            width: 150px;
            height: 30px;
            padding: 2px;
            margin: 2px;
            border-radius: 8px;
            font-family: "Lato", sans-serif;
            font-weight: lighter;
            font-size: 10px; }
        .mainIngreso .ingreso .ingresoNuevo .formularioIngreso .botonIngreso {
          text-decoration: none;
          color: white;
          background-color: black;
          padding: 10px;
          border-radius: 5%;
          align-self: center;
          justify-self: center;
          margin-bottom: 10px;
          font-size: 18px; }
        .mainIngreso .ingreso .ingresoNuevo .formularioIngreso a {
          text-decoration: none;
          font-family: "Lato", sans-serif;
          font-weight: bold;
          font-size: 15px;
          color: black;
          padding: 10px;
          margin: 10px;
          align-self: flex-end;
          text-align: center; }
    .mainIngreso .ingreso section {
      height: 100%; }
      .mainIngreso .ingreso section h2 {
        font-size: 25px;
        padding-top: 20px;
        margin-top: 20px;
        width: 100%;
        height: 70px;
        text-align: center;
        font-weight: bold; }
      .mainIngreso .ingreso section .registrarse {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        height: 80%;
        width: 80%; }
        .mainIngreso .ingreso section .registrarse .botonIngreso {
          text-decoration: none;
          color: white;
          background-color: black;
          padding: 10px;
          border-radius: 5%;
          align-self: center;
          justify-self: center;
          margin-bottom: 20px;
          font-size: 18px; }

/*FOOTER*/
.pie {
  background-color: #C29689;
  opacity: 0.9;
  display: flex;
  justify-content: center;
  align-items: center; }
  .pie .redes {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin: 0 50px;
    width: 30vw;
    background-color: white;
    border: #3a3434 2px solid;
    padding: 5px;
    margin-top: 10px; }
    .pie .redes .copyright {
      display: flex;
      justify-content: space-between;
      align-items: flex-start; }
      .pie .redes .copyright img {
        width: 25px;
        height: 25px;
        padding: 5px; }
      .pie .redes .copyright h3 {
        font-family: "Lato", sans-serif;
        font-weight: lighter;
        font-size: 18px;
        padding: 2px; }
    .pie .redes .contactosRedes {
      display: flex;
      justify-content: space-between;
      align-items: flex-end; }
      .pie .redes .contactosRedes a img {
        width: 30px;
        height: 30px;
        padding: 5px; }

/*mediaqueries*/
/*tamaño netbook*/
@media screen and (max-width: 1120px) {
  /*cambios en contacto*/
  .gridContenedorContacto .contacto form .botonContacto {
    margin: 20px; }
  .gridContenedorContacto .mapa {
    height: 354px; }
  .gridContenedorContacto .mapa iframe {
    height: 350px; }
  /*cambios en inmuebles*/
  .resultadoUno .txtInput, .resultadoDos .txtInput, .resultadoTres .txtInput {
    font-size: 15px; }
  .gridContenedorInmuebles {
    grid-template-columns: 0.6fr 2fr;
    margin-left: 20px; }
  /*cambios en inmobiliarias*/
  .gridContenedorInmobiliarias section .inmobiliariaUno div p, .gridContenedorInmobiliarias section .inmobiliariaDos div p, .gridContenedorInmobiliarias section .inmobiliariaTres div p {
    font-size: 15px; }
  /*cambios en ingreso*/
  .mainIngreso .ingreso {
    width: 70vw; } }

/* tamaño especial en el que el footer se ve mal y hay que acomodar el header*/
@media screen and (max-width: 990px) {
  /*cambios header*/
  header {
    flex-direction: row-reverse; }
  header div {
    display: flex;
    justify-content: center;
    width: 100%; }
  header nav ul {
    align-items: flex-start; }
  header nav ul li .boton {
    margin-top: 50px;
    margin-left: 10px;
    padding: 5px; }
  /*cambios en inmuebles*/
  .gridContenedorInmuebles {
    grid-template-columns: 0.4fr 1fr;
    margin: 10px; }
  .gridContenedorInmuebles .buscadorCompleto .formulario .radioInmuebles, .gridContenedorInmuebles .buscadorCompleto .formulario .montoInmuebles {
    flex-direction: column; }
  .resultadoUno img, .resultadoDos img, .resultadoTres img {
    width: 200px;
    height: auto; }
  /*cambios en inmobiliarias*/
  .gridContenedorInmobiliarias section .inmobiliariaUno div p, .gridContenedorInmobiliarias section .inmobiliariaDos div p, .gridContenedorInmobiliarias section .inmobiliariaTres div p {
    font-size: 10px; }
  .gridContenedorInmobiliarias section .inmobiliariaUno div .botonInmobiliarias,
  .gridContenedorInmobiliarias section .inmobiliariaDos div .botonInmobiliarias,
  .gridContenedorInmobiliarias section .inmobiliariaTres div .botonInmobiliarias {
    margin-bottom: 10px;
    font-size: 15px; }
  .inmobiliariaUno .logo, .inmobiliariaDos .logo, .inmobiliariaTres .logo {
    width: 200px;
    height: auto; }
  .gridContenedorInmobiliarias section .buscadorInmobiliarias label .selectInput {
    width: 100px; }
  /*cambios en footer*/
  .pie .redes {
    width: 50vw; } }

/*tamaño tablet posicion vertical*/
@media screen and (max-width: 760px) {
  /*cambios en index*/
  .buscadorIndex .hero h1 {
    font-size: 30px; }
  .buscadorIndex .hero h2 {
    font-size: 20px; }
  .buscadorIndex .hero p {
    font-size: 10px; }
  /*cambios en contacto*/
  .gridContenedorContacto {
    grid-template-columns: 0.4fr 1.3fr; }
  /*cambios en inmuebles*/
  .gridContenedorInmuebles {
    grid-template-areas: "buscadorCompleto" "selector" "resultadoUno" "resultadoDos" "resultadoTres";
    grid-template-columns: 1.5fr;
    grid-template-rows: auto-fill; }
  .gridContenedorInmuebles .buscadorCompleto .formulario .radioInmuebles, .gridContenedorInmuebles .buscadorCompleto .formulario .montoInmuebles, .gridContenedorInmuebles .buscadorCompleto .formulario .checkbox {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    max-width: 50%;
    align-self: center; }
  .formulario .botonBuscador {
    align-self: flex-end;
    justify-self: flex-start;
    margin-bottom: 20px; }
  .formulario .selectInmuebles {
    height: 10%; }
  /*cambios en inmobiliarias*/
  .gridContenedorInmobiliarias {
    grid-template-areas: "buscadorInmobiliarias" "selectorUno" "inmobiliariaUno" "inmobiliariaDos" "inmobiiariaTres";
    grid-template-columns: 1.5fr;
    grid-template-rows: auto-fill; }
  .gridContenedorInmobiliarias section .buscadorInmobiliarias {
    width: 40vw; }
  .gridContenedorInmobiliarias section .buscadorInmobiliarias label .selectInput {
    width: 150px; }
  /*cambios en ingreso*/
  .mainIngreso .ingreso section h2, .mainIngreso .ingreso .ingresoNuevo h2 {
    font-size: 18px;
    margin-top: 20px; } }

/*mobile 630px*/
@media screen and (max-width: 630px) {
  /*pagina de contacto*/
  .gridContenedorContacto {
    grid-template-areas: "promocion" "contacto" "mapa";
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1.5fr 0.5fr; }
  .gridContenedorContacto .mapa {
    height: 254px;
    margin-top: 20px;
    width: 80%; }
  .gridContenedorContacto .mapa iframe {
    height: 250px; }
  .gridContenedorContacto .promocion {
    width: 80%; }
  /*cambios en ingreso*/
  .mainIngreso .ingreso .ingresoNuevo .formularioIngreso a {
    padding-bottom: 0;
    padding-top: 0;
    margin-top: 0; } }

/*mobile 540px*/
@media screen and (max-width: 540px) {
  /*cambios en index*/
  .buscadorIndex .hero h1 {
    font-size: 25px;
    padding: 5px; }
  .buscadorIndex .hero h2 {
    font-size: 15px;
    padding: 5px; }
  .buscadorIndex .hero p {
    padding: 5px; }
  .gridContenedorFormulario .monto {
    margin-top: 10px; }
  .gridContenedorFormulario .select .selectInput {
    width: 40%; }
  /*cambios en inmobiliarias*/
  .gridContenedorInmobiliarias section .inmobiliariaUno, .gridContenedorInmobiliarias section .inmobiliariaDos, .gridContenedorInmobiliarias section .inmobiliariaTres {
    flex-direction: column;
    width: 70%;
    align-items: center;
    justify-content: space-around;
    margin-left: 50px; }
  .gridContenedorInmobiliarias section {
    align-items: center; }
  .gridContenedorInmobiliarias section .inmobiliariaUno .logo, .gridContenedorInmobiliarias section .inmobiliariaDos .logo, .gridContenedorInmobiliarias section .inmobiliariaTres .logo {
    width: 100%; }
  /*cambios en ingreso*/
  .mainIngreso .ingreso {
    width: 80vw; }
  .mainIngreso .ingreso .ingresoNuevo .formularioIngreso .datos .selectInput {
    width: 100px; }
  .mainIngreso .ingreso section h2, .mainIngreso .ingreso .ingresoNuevo h2 {
    font-size: 15px; }
  .mainIngreso .ingreso .ingresoNuevo .formularioIngreso .datos label {
    font-size: 10px; }
  .mainIngreso .ingreso .ingresoNuevo .formularioIngreso .botonIngreso, .mainIngreso .ingreso section .registrarse .botonIngreso {
    font-size: 15px; }
  /*cambios en footer*/
  footer .redes {
    width: 80vw; } }

/*tamaño mobile 400px*/
@media screen and (max-width: 400px) {
  /*cambios en header*/
  header div a img {
    width: 40px;
    height: 40px; }
  /*cambios en index*/
  .buscadorIndex .hero h2 {
    padding: 2px; }
  .buscadorIndex .hero p {
    margin: 5px;
    padding: 2px; }
  .gridContenedorFormulario .monto {
    margin-left: 20px; }
  .gridContenedorFormulario .select .selectInput {
    width: 50%;
    height: 35px; }
  /*cambios en inmuebles*/
  .gridContenedorInmuebles {
    margin-left: 0; }
  .gridContenedorInmuebles .buscadorCompleto .formulario {
    width: 80%;
    margin: 5px;
    padding: 5px; }
  .gridContenedorInmuebles .buscadorCompleto .formulario .montoInmuebles, .gridContenedorInmuebles .buscadorCompleto .formulario .radioInmuebles, .gridContenedorInmuebles .buscadorCompleto .formulario .selectInmuebles, .gridContenedorInmuebles .buscadorCompleto .formulario .checkbox {
    font-size: 15px;
    margin: 5px;
    padding: 5px; }
  .gridContenedorInmuebles .buscadorCompleto .formulario .radioInmuebles {
    justify-content: space-evenly; }
  .formulario .radioInmuebles label {
    width: 80%; }
  .gridContenedorInmuebles .buscadorCompleto .formulario .montoInmuebles {
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center; }
  .formulario .montoInmuebles div, .formulario .selectInmuebles {
    margin: 5px;
    padding: 5px; }
  .resultadoUno, .resultadoDos, .resultadoTres {
    flex-direction: column; }
  .resultadoUno img, .resultadoDos img, .resultadoTres img {
    width: 100%; }
  /*cambios en inmobiliarias*/
  .gridContenedorInmobiliarias section .buscadorInmobiliarias label .selectInput {
    width: 100px; }
  .gridContenedorInmobiliarias section .buscadorInmobiliarias .botonInmobiliarias, .gridContenedorInmobiliarias section .selectorUno {
    font-size: 15px; }
  .gridContenedorInmobiliarias .buscadorInmobiliarias {
    width: 70vw; }
  .gridContenedorInmobiliarias section .inmobiliariaUno, .gridContenedorInmobiliarias section .inmobiliariaDos, .gridContenedorInmobiliarias section .inmobiliariaTres {
    margin-left: 10px;
    width: 100%; }
  /*cambios en ingreso*/
  .mainIngreso .ingreso {
    width: 90vw; } }

/*tamaño mobile (acomodar para tamaños mas pequeños) 370px*/
@media screen and (max-width: 370px) {
  /*cambios de index*/
  .gridContenedorFormulario .buscador, .gridContenedorFormulario .select, .gridContenedorFormulario .select .selectInput, .gridContenedorFormulario .monto {
    font-size: 15px; }
  /*cambios en contacto*/
  .gridContenedorContacto {
    margin-left: 20px; }
  /*cambios en inmuebles*/
  .gridContenedorInmuebles {
    margin-left: 0; }
  .gridContenedorInmuebles .selector .selectSelector {
    width: 100px;
    padding: 2px;
    margin: 2px;
    font-size: 10px; }
  .gridContenedorInmuebles .buscadorCompleto .formulario {
    width: 70%;
    margin: 2px;
    padding: 2px; }
  .selector label {
    font-size: 10px; }
  .gridContenedorInmuebles .buscadorCompleto .formulario .botonBuscador {
    margin-bottom: 30px; }
  .gridContenedorInmuebles .txtInput .botonResultado {
    align-self: center;
    margin: 5px; }
  /*cambios en inmobiliarias*/
  .gridContenedorInmobiliarias {
    margin-left: 10px; }
  .gridContenedorInmobiliarias section .buscadorInmobiliarias {
    width: 60vw; }
  /*cambios en ingreso*/
  .mainIngreso .ingreso .ingresoNuevo .formularioIngreso .botonIngreso, .mainIngreso .ingreso section .registrarse .botonIngreso {
    font-size: 10px; }
  /*cambios en footer*/
  footer .redes {
    justify-content: center;
    width: 60vw; } }
