*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

/* selectores para todo el sitio*/
.body {
    background-color: #C29689;
    min-height: 100vh;
}

.linea {
    border-top: 2px solid #3C7566;
    height: 2px;
    max-width: 90vw;
    padding: 0;
    margin: auto;
}
/* HEADER*/
header div a img {
    width: 80px;
    height: 80px;
    margin: 5px;
}

header nav ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #C29689;
    padding: 0;
    margin: 0;
}

header nav ul li {
    list-style-type: none;
}

header nav ul li a {
    text-decoration: none;
    color: black;
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    font-size: 20px;
    padding: 5px;
    margin: 5px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/*estilo de boton para ingresar, buscar, conocer servicios, enviar solicitud de contacto*/
header nav ul li .boton
{
    color: white;
    background-color: black;
    padding: 10px;
    border-radius: 5%;
    margin-right: 20px;
}

header nav ul li .boton:hover {
    color: black;
    background-color: white;
    transition: 2s;
}
/* MAIN*/
/* selectores principalmente del index*/
.main {
    min-height: 75vh;
}

.buscadorIndex {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.buscadorIndex section h1 {
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    font-size: 40px;
    padding: 10px 5px;
    margin: 5px;
}

.gridContenedorFormulario {
    display: grid;
    grid-template-areas: 
    "buscador buscador"
    "select select"
    "monto monto"
    "input input";
    grid-template-columns: auto;
    grid-template-rows: 0.6fr 1.5fr 1.5fr 0.6fr;
    grid-row-gap: 5px;
    border: #3C7566 solid 2px;
    margin: 10px;
    border-radius: 3%;
    padding: 10px;
    padding-top: 20px;
    background-color: #C25B3E;
    opacity: 0.8;
    padding-bottom: 0;
    margin-bottom: 0;
}

.gridContenedorFormulario .buscador {
    grid-area: buscador;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 5px;
    margin-top: 10px;
    padding: 5px;
    padding-top: 10px;
    border: none;
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    font-size: 20px;
    min-height: 20%;
    justify-content: space-around;
}

.gridContenedorFormulario .select {
    grid-area: select;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5px;
    padding: 5px;
    border: none;
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    font-size: 20px;
    min-height: 20%;
}

.gridContenedorFormulario .select label {
    margin: 5px;
    padding: 5px;
    text-align: center;
}

.gridContenedorFormulario .select .selectInput {
    width: 30%;
    height: 40px;
    padding: 5px;
    margin: 5px;
    border-radius: 8px;
    font-family: 'Lato', sans-serif;
    font-weight: lighter;
    font-size: 20px;
}

.gridContenedorFormulario .monto {
    grid-area: monto;
    display: flex;
    justify-content: center;
    justify-self: center;
    margin: 2px;
    margin-left: 50px;
    padding: 2px;
    border: none;
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    font-size: 20px;
    min-height: 20%;
}

.gridContenedorFormulario .monto .divMonto .selectInput {
    width: 60%;
    height: 30px;
    padding: 5px;
    margin: 5px;
    border-radius: 8px;
}

.gridContenedorFormulario .input {
    grid-area: input;
    display: flex;
    justify-content: center;
    align-items: center;
}

.gridContenedorFormulario .input .botonIndex {
    color: white;
    background-color: black;
    padding: 10px;
    border-radius: 5%;
    font-size: 20px;
    margin: 10px;
}

/* selectores principalmente de contacto*/
.gridContenedorContacto {
    display: grid;
    grid-template-areas: 
        "promocion contacto"
        "promocion contacto"
        "mapa contacto";
    grid-template-columns: 0.6fr 1.5fr;
    grid-template-rows: auto-fill;
    column-gap: 5px;
    margin: 20px;
    margin-left: 50px; 
    justify-items: center;
    align-items: flex-start;
} 

.gridContenedorContacto .promocion {
    grid-area: promocion;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
    margin: 10px;
    margin-top: 0;
    width: 83%;
    height: 400px;
    border: #3C7566 solid 2px;
    border-radius: 3%;
}

.gridContenedorContacto .promocion img {
    width: 100px;
    height: 100px;
    padding: 10px;
    margin: 5px;
}

.gridContenedorContacto .promocion h2 {
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    font-size: 25px;
    padding: 10px 5px;
    margin: 5px;
    width: 250px;
    height: 80px;
    text-align: center;
} 

.gridContenedorContacto .promocion h3 {
    font-family: 'Lato', sans-serif;
    font-weight: bolder;
    font-size: 20px;
    padding: 10px 5px;
    margin: 5px;
    text-align: center;
}

.gridContenedorContacto .mapa {
    grid-area: mapa;
    border: #3C7566 solid 2px;
    width: 83%;
    height: 204px;
} 

.gridContenedorContacto .contacto {
    grid-area: contacto;
    width: 80%;
    height: 100%;
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    font-size: 20px;
}

.gridContenedorContacto .mapa iframe {
    width: 100%;
    height: 200px;
} 

.gridContenedorContacto .contacto form {
    width: 100%;
    height: 100%;
    margin: 2px;
    padding: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: #3C7566 solid 2px;
    border-radius: 3%;
} 

.gridContenedorContacto .contacto form label .input {
    width: 80%;
    height: 30px;
    padding: 5px;
    margin: 5px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #3C7566;
} 

.gridContenedorContacto .contacto form label .input:focus {
    background-color: white;
    transition: background-color 2s linear 1s;
}

.gridContenedorContacto .contacto form label .textarea {
    resize: none;
    height: 18vh;
}

.gridContenedorContacto .promocion a .botonPromocion {
    color: white;
    background-color: black;
    padding: 10px;
    border-radius: 5%;
}

.gridContenedorContacto .contacto form .botonContacto {
    color: white;
    background-color: black;
    padding: 10px;
    border-radius: 5%;
    align-self: flex-end;
}

/*selectores de pagina inmuebles*/
.gridContenedorInmuebles {
    display: grid;
    grid-template-areas: 
    "buscadorCompleto selector"
    "buscadorCompleto resultadoUno"
    "buscadorCompleto resultadoDos"
    "buscadorCompleto resultadoTres";
    grid-template-columns: 1fr 2fr;
    grid-template-rows: auto;
    column-gap: 5px;
    margin: 20px;
    margin-left: 50px; 
    justify-items: center;
    align-items: flex-start;
}

.gridContenedorInmuebles .buscadorCompleto {
    grid-area: buscadorCompleto;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}

.gridContenedorInmuebles .buscadorCompleto .formulario {
    width: 100%;
    height: 100%;
    border: #3C7566 solid 2px;
    margin: 10px;
    border-radius: 3%;
    padding: 10px;
    padding-top: 20px;
    background-color: #C25B3E;
    opacity: 0.8;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.formulario .radioInmuebles {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 2px;
    padding: 2px;
    border: none;
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    font-size: 20px;
    min-height: 20%;
    justify-content: space-evenly;
}

.formulario .selectInmuebles {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2px;
    padding: 2px;
    border: none;
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    font-size: 20px;
    min-height: 15%;
    justify-content: space-around;
}

.selectInmuebles .selectInput, .montoInmuebles .selectInput {
    width: 150px;
    height: 30px;
    padding: 5px;
    margin: 5px;
    border-radius: 8px;
    font-family: 'Lato', sans-serif;
    font-weight: lighter;
    font-size: 15px;
}

.formulario .montoInmuebles {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 2px;
    margin-left: 20px;
    padding: 2px;
    border: none;
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    font-size: 20px;
    min-height: 20%;
    justify-content: space-around;
    
}

.formulario .checkbox {
    align-self:flex-start;
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    font-size: 20px;
    margin: 5px;
    padding: 10px;
}

.formulario .botonBuscador {
    color: white;
    background-color: black;
    padding: 10px;
    border-radius: 5%;
    align-self: center;
}

.gridContenedorInmuebles section .selector {
    grid-area: selector;
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    font-size: 20px;
    display: flex;
    justify-content: space-between;
    margin: 20px;
}

.selector label .selectSelector {
    width: 150px;
    height: 30px;
    padding: 5px;
    margin: 5px;
    border-radius: 8px;
    font-family: 'Lato', sans-serif;
    font-weight: lighter;
    font-size: 15px;
}

.resultadoUno, .resultadoDos, .resultadoTres {
    display: flex;
    border: #3C7566 solid 2px;
    border-radius: 3%;
    margin: 20px;
    box-shadow: 4px 9px 24px 4px rgba(60,117,102,0.73);
    -webkit-box-shadow: 4px 9px 24px 4px rgba(60,117,102,0.73);
    -moz-box-shadow: 4px 9px 24px 4px rgba(60,117,102,0.73);
}
.resultadoUno img:hover, .resultadoDos img:hover, .resultadoTres img:hover {
    transform: scale(1.2);
}
.gridContenedorInmuebles section .resultadoUno {
    grid-area: resultadoUno;
}

.gridContenedorInmuebles section .resultadoDos {
    grid-area: resultadoDos;
}

.gridContenedorInmuebles section .resultadoTres {
    grid-area: resultadoTres;
}

.resultadoUno img, .resultadoDos img {
    width: 400px;
    height: 300px;
    border-radius: 3%;
    transition: transform 2s;
}

.resultadoTres img {
    width: 200px;
    height: 300px;
    border-radius: 3%;
    transition: transform 2s;
}

.resultadoUno .txtInput, .resultadoDos .txtInput, .resultadoTres .txtInput {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    font-size: 20px;
    margin-left: 5px;
}

.txtInput .botonResultado {
    color: white;
    background-color: black;
    padding: 10px;
    border-radius: 5%;
    align-self: flex-end;
    margin-right: 10px;
}
/*selectores de pagina inmobiliarias*/
.gridContenedorInmobiliarias {
    display: grid;
    grid-template-areas: 
    "buscadorInmobiliarias selectorUno"
    "buscadorInmobiliarias inmobiliariaUno"
    "buscadorInmobiliarias inmobiliariaDos"
    "buscadorInmobiliarias inmobiliariaTres";
    grid-template-columns: 0.6fr 2fr;
    grid-template-rows: auto;
    column-gap: 5px;
    margin: 20px;
    margin-left: 50px; 
    justify-items: center;
    align-items: flex-start;
}

.gridContenedorInmobiliarias .buscadorInmobiliarias {
    grid-area: buscadorInmobiliarias;
    width: 20vw;
    height: 20vh;
    border: #3C7566 solid 2px;
    margin: 10px;
    border-radius: 3%;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    background-color: #C25B3E;
    opacity: 0.8;
    color: black;
}

.buscadorInmobiliarias label .selectInput {
    width: 150px;
    height: 30px;
    padding: 5px;
    margin: 5px;
    border-radius: 8px;
    font-family: 'Lato', sans-serif;
    font-weight: lighter;
    font-size: 15px;
}

.buscadorInmobiliarias .botonInmobiliarias {
    color: white;
    background-color: black;
    padding: 10px;
    border-radius: 5%;
    font-size: 20px;
    font-family: 'Lato', sans-serif;
}

.selectorUno {
    grid-area: selectorUno;
    display: flex;
    justify-content: flex-end;
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    font-size: 20px;
    margin-right: 20px;
}

.selectorUno .selectInput {
    width: 150px;
    height: 30px;
    padding: 5px;
    margin: 5px;
    border-radius: 8px;
    font-family: 'Lato', sans-serif;
    font-weight: lighter;
    font-size: 15px;
}

.inmobiliariaUno {
    grid-area: inmobiliariaUno;
}

.inmobiliariaUno, .inmobiliariaDos, .inmobiliariaTres {
    display: flex;
    border: #3C7566 solid 2px;
    border-radius: 3%;
    margin: 20px;
    box-shadow: 4px 9px 24px 4px rgba(60,117,102,0.73);
    -webkit-box-shadow: 4px 9px 24px 4px rgba(60,117,102,0.73);
    -moz-box-shadow: 4px 9px 24px 4px rgba(60,117,102,0.73);
}
.inmobiliariaDos {
    grid-area: inmobiliariaDos;
}

.inmobiliariaTres {
    grid-area: inmobiliariaTres;
}

.inmobiliariaUno .logo, .inmobiliariaDos .logo, .inmobiliariaTres .logo {
    width: 250px;
    height: 250px;
}

.inmobiliariaUno div p, .inmobiliariaDos div p, .inmobiliariaTres div p {
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    font-size: 20px;
    margin: 5px;
    padding: 10px;
}

.inmobiliariaUno div .botonInmobiliarias, .inmobiliariaDos div .botonInmobiliarias, .inmobiliariaTres div .botonInmobiliarias {
    color: white;
    background-color: black;
    padding: 10px;
    border-radius: 5%;
    font-size: 20px;
    font-family: 'Lato', sans-serif;
    margin-left: 20px;
}

/*selectores de la pagina de ingreso*/
.mainIngreso {
    display: flex;
    justify-content: center;
}

.ingreso {
    border: #3C7566 solid 2px;
    margin: 5px;
    border-radius: 3%;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #C25B3E;
    opacity: 0.8;
    color: black;
    height: 70vh;
    width: 40vw;
}

.ingreso .ingresoNuevo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.ingresoNuevo .formularioIngreso {
    height: 100%;
    width: 100%;
    border: none;
    display: flex;
    flex-direction: column;
}

.ingreso section h2 {
    font-size: 25px;
    padding: 5px;
    margin: 5px;
    width: 250px;
    height: 70px;
    text-align: center;
    font-weight: bold;
}

.formularioIngreso .datos {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-height: 30%;
}

.formularioIngreso .datos .selectInput {
    width: 150px;
    height: 30px;
    padding: 5px;
    margin: 5px;
    border-radius: 8px;
    font-family: 'Lato', sans-serif;
    font-weight: lighter;
    font-size: 15px;
}

.formularioIngreso .datos label {
    padding: 5px;
    margin: 5px;
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    font-size: 20px;
}


.formularioIngreso .botonIngreso, .registrarse .botonIngreso {
    text-decoration: none;
    color: white;
    background-color: black;
    padding: 10px;
    border-radius: 5%;
    align-self: center;
    justify-self: center;
    margin-bottom: 20px;
} 

.ingreso section {
    height: 100%;
}
.ingreso section .registrarse {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80%;
    width: 80%;
} 

.formularioIngreso a {
    text-decoration: none;
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    font-size: 15px;
    color: #000;
    padding: 10px;
    margin: 10px;
    align-self: flex-end;
    text-align: center;
} 

/* FOOTER*/

.pie {
    justify-content: center;
    display: flex;
    align-items: center;
}

.pie div div a img {
    width: 30px;
    height: 30px;
    padding: 5px;
}

.pie div div img {
    width: 25px;
    height: 25px;
    padding: 5px;
}

.pie .redes {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin: 0 50px;
    width: 30vw;
    background-color: white;
    border: gray 2px solid;
    padding: 5px;
    margin-top: 10px;
}

.pie .redes .copyright h3 {
    font-family: 'Lato', sans-serif;
    font-weight: lighter;
    font-size: 18px;
    padding: 2px;
}

.pie .copyright {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.pie .redes .contactosRedes {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

/*mediaqueries*/
/*tamaño netbook*/
@media screen and (max-width:1110px) {
    /*cambios en contacto*/
    .contacto form .botonContacto {
        margin: 20px;
    }

    .gridContenedorContacto .mapa {
        height: 354px;
    } 

    .gridContenedorContacto .mapa iframe {
        height: 350px;
    }
/*cambios en inmuebles*/
    .resultadoUno .txtInput, .resultadoDos .txtInput, .resultadoTres .txtInput {
        font-size: 15px;
    }

    .gridContenedorInmuebles {
        grid-template-columns: 0.6fr 2fr;
        margin-left: 20px;
    }
    /*cambios en inmobiliarias*/
    .inmobiliariaUno div p, .inmobiliariaDos div p, .inmobiliariaTres div p {
        font-size: 15px;
    }
    /*cambios en ingreso*/
    .ingreso {
        width: 70vw;
    }
} 
/* tamaño especial en el que el footer se ve mal y hay que acomodar el header*/
@media screen and (max-width:990px){
    /*cambios header*/
    header {
        flex-direction: row-reverse;
    }

    header div {
        display: flex;
        justify-content: center;
        width: 100%;
    }

    header nav ul {
        align-items: flex-start;
    } 

    header nav ul li .boton {
        margin-top: 50px;
        margin-left: 10px;
        padding: 5px;
    }
    /*cambios en inmuebles*/
    .gridContenedorInmuebles {
        grid-template-columns: 0.4fr 1fr;
        margin: 10px;
    }

    .formulario .radioInmuebles, .formulario .montoInmuebles {
        flex-direction: column;
    }

    .resultadoUno, .resultadoDos, .resultadoTres {
        flex-direction: column;
    }

    .resultadoUno img, .resultadoDos img, .resultadoTres img {
        width: 200px;
        height: 150px;
        align-self: center;
    }
    /*cambios en inmobiliarias*/
    .inmobiliariaUno, .inmobiliariaDos, .inmobiliariaTres {
        flex-direction: column;
        align-items: center;
    }

    .inmobiliariaUno .logo, .inmobiliariaDos .logo, .inmobiliariaTres .logo {
        width: 200px;
        height: 200px;
    }

    .buscadorInmobiliarias label .selectInput {
        width: 100px;
    }

    .gridContenedorInmobiliarias .buscadorInmobiliarias {
        height: 15vh;
    }

    .pie .redes {
        width: 50vw;
    } 
}

/*tamaño tablet posicion vertical*/
@media screen and (max-width:660px) { 
    /*cambios en contacto*/
    .gridContenedorContacto {
        grid-template-columns: 0.4fr 1.3fr;
    }

    /*cambios en inmuebles*/
    .gridContenedorInmuebles {
        grid-template-areas: 
        "buscadorCompleto"
        "selector"
        "resultadoUno"
        "resultadoDos"
        "resultadoTres";
        grid-template-columns: 1.5fr;
        grid-template-rows: auto-fill;
    }

    .formulario .radioInmuebles, .formulario .montoInmuebles, .formulario .checkbox {
        flex-direction: row;
        max-width: 50%;
        justify-content: center;
        align-items: center;
        align-self: center;
    }

    .formulario .botonBuscador {
        align-self: flex-end;
        justify-self: flex-start;
        margin-bottom: 20px;
    }

    .formulario .selectInmuebles {
        height: 10%;
    }

    .checkbox p label {
        flex-direction: row;
    }

    .gridContenedorInmobiliarias {
        grid-template-areas: 
        "buscadorInmobiliarias"
        "selectorUno"
        "inmobiliariaUno"
        "inmobiliariaDos"
        "inmobiiariaTres";
        grid-template-columns: 1.5fr;
        grid-template-rows: auto-fill;
    }

    .gridContenedorInmobiliarias .buscadorInmobiliarias {
        width: 40vw;
    }

    .buscadorInmobiliarias label .selectInput {
        width: 150px;
    }
    /*cambios en ingreso*/
    .ingreso section h2 {
        font-size: 20px;
        width: 200px;
    }
}

/*mobile 630px*/
@media screen and (max-width:630px) { 
    /*pagina de contacto*/
    .gridContenedorContacto {
        grid-template-areas: 
        "promocion"
        "contacto"
        "mapa";
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1.5fr 0.5fr;
    }

    .gridContenedorContacto .mapa {
        height: 254px;
        margin-top: 20px;
        width: 80%;
    }

    .gridContenedorContacto .mapa iframe {
        height: 250px;
    }

    .gridContenedorContacto .promocion {
        width: 80%;
    }
}

/*mobile 540px*/
@media screen and (max-width:540px) {
    /*cambios en index*/
    .buscadorIndex section h1 {
        font-size: 30px;
    }
    .gridContenedorFormulario .monto {
        margin-top: 10px;
    } 
    .gridContenedorFormulario .select .selectInput {
        width: 40%;
    }
    /*cambios en inmobiliarias*/
    .ingreso {
        width: 80vw;
    }

    .formularioIngreso .datos .selectInput {
        width: 100px;
    }
/*cambios en ingreso*/
    .ingreso section h2 {
        font-size: 15px;
        width: 150px;
    }
    footer .redes {
        width: 80vw;
    }
}
/*tamaño mobile 400px*/
@media screen and (max-width:400px) {
    /*cambios en header*/
    header div a img {
        width: 40px;
        height: 40px;
}
    /*cambios en index*/
    .buscadorIndex section h1 {
        font-size: 25px;
    }

    .gridContenedorFormulario .monto {
        margin-left: 20px;
    }

    .gridContenedorFormulario .select .selectInput {
        width: 50%;
        height: 35px;
    }
    /*cambios en inmuebles*/
    .gridContenedorInmuebles .buscadorCompleto .formulario {
        width: 80%;
        margin: 5px;
        padding: 5px;
    }

    .formulario .montoInmuebles, .formulario .radioInmuebles, .formulario .selectInmuebles, .formulario .checkbox {
        font-size: 15px;
    }

    .formulario .radioInmuebles {
        justify-content: space-evenly;
    }

    .formulario .radioInmuebles label {
        width: 80%;
    }

    .formulario .montoInmuebles {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .formulario .montoInmuebles div, .formulario .selectInmuebles {
        margin: 5px;
        padding: 5px;
    }

    /*cambios en inmobiliarias*/
    .buscadorInmobiliarias label .selectInput {
        width: 100px;
    }

    .gridContenedorInmobiliarias .buscadorInmobiliarias {
        width: 70vw;
    }
    /*cambios en ingreso*/
    .ingreso {
        width: 90vw;
    }
}


/*tamaño mobile (acomodar para tamaños mas pequeños) 370px*/
@media screen and (max-width:370px) {
    /*cambios de index*/
    .gridContenedorFormulario .buscador, .gridContenedorFormulario .select, .gridContenedorFormulario .select .selectInput, .gridContenedorFormulario .monto {
        font-size: 15px;
    }
    /*cambios en contacto*/
    .gridContenedorContacto {
        margin-left: 20px;
    }
    /*cambios en inmuebles*/
    .gridContenedorInmuebles {
        margin-left: 0;
    }
    .gridContenedorInmuebles .buscadorCompleto .formulario {
        width: 70%;
        margin: 2px;
        padding: 2px;
    }
    .selector label .selectSelector {
        width: 100px;
        padding: 2px;
        margin: 2px;
        font-size: 10px;
    }
    .selector label {
        font-size: 10px;
    }
    .formulario .botonBuscador {
        align-self: center;
    }
    .txtInput .botonResultado {
        align-self: center;
        margin: 5px;
    }
    /*cambios en footer*/
    footer .redes {
        justify-content: center;
        width: 60vw;
    }
}